<!--数据分析系统所有接口入口-->
<!DOCTYPE html>
<html lang=en>
    <title>
        数据分析系统
    </title>
    <head>
        <h1>数据分析系统接口汇总</h1>
    </head>
    <body style="margin: 0px;">
        <b>数据管理-我的数据Amazon-查询接口</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://127.0.0.1:5000/dataManage/amazon/selectInterface" target="_blank">运行</a>
        <br>
        <br>
        <b>数据管理-我的数据Amazon-释放产品接口</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://127.0.0.1:5000/dataManage/amazon/releaseRroductInterface" target="_blank">运行</a>
        <br>
        <br>
        <b>数据管理-我的数据Amazon-关联系统SKU接口</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://127.0.0.1:5000/dataManage/amazon/associateSystemSkuInterface" target="_blank">运行</a>
        <br>
        <br>
        <b>数据管理-我的数据Amazon-低价接口</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://127.0.0.1:5000/dataManage/amazon/productGenDijiaInterface" target="_blank">运行</a>
        <br>
        <br>
        <b>数据管理-我的数据Amazon-同款接口</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://127.0.0.1:5000/dataManage/amazon/productGenTongkuanInterface" target="_blank">运行</a>
        <br>
        <br>
        <b>数据管理-我的数据SMT-查询接口</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://127.0.0.1:5000/dataManage/smt/selectProductInterface" target="_blank">运行</a>

    </body>
</html>