<!DOCTYPE html>
<html lang="en">
     <title>数据分析系统</title>
    <head>
        <h1>数据分析系统接口执行结果汇总</h1>
    </head>
    <body>
        <h4>我的数据Amazon-查询接口</h4>
        {% for selectItem in selectResult %}
        {{selectItem}}<br>
        {% endfor %}
        <h4>我的数据Amazon-释放产品接口</h4>
        {% for releaseItem in releaseProResult%}
        {{releaseItem}}<br>
        {% endfor %}
        <h4>我的数据Amazon-关联系统SKU接口</h4>
        {% for associateItem in assSySkuResult%}
        {{associateItem}}<br>
        {% endfor %}
        <h4>我的数据Amazon-低价接口</h4>
        {% for amazonProDijiaItem in amazonProDijia%}
        {{amazonProDijiaItem}}<br>
        {% endfor %}
        <h4>我的数据Amazon-同款接口</h4>
        {% for amazonTongkuanItem in amazonTongkuan%}
        {{amazonTongkuanItem}}<br>
        {% endfor %}
        <h4>我的数据SMT-查询接口</h4>
        {% for smtSelectProductItem in smtSelectProduct%}
        {{smtSelectProductItem}}<br>
        {% endfor %}
        <h4>我的数据SMT-释放产品接口</h4>
        {% for smtReleaseProductItem in smtReleaseProduct%}
        {{smtReleaseProductItem}}<br>
        {% endfor %}
        <h4>我的数据SMT-关联系统SKU接口</h4>
        {% for smtAssSySkuResultItem in smtAssSySkuResult%}
        {{smtAssSySkuResultItem}}<br>
        {% endfor %}
        <h4>参数配置-取消开发备注保存接口</h4>
        {% for paramConfigResultItem in paramConfigResult%}
        {{paramConfigResultItem}}<br>
        {% endfor %}
    </body>
</html>