<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if urlname == "das" %}
        <span class="read">数据分析系统接口报告地址:</span>
        <a href={{ das_report_url }}>点击查看 </a>
    <br /><br />
    {% elif urlname == "fmis" %}
        <span class="read">财务系统接口接口报告地址:</span>
        <a href={{ fmis_report_url }}>点击查看 </a>
    <br /><br />
    {% elif urlname == "sale" %}
        <span class="read">订单系统接口报告地址:</span>
        <a href={{ sale_report_url }}>点击查看 </a>
    <br /><br />
    {% elif urlname == "product" %}
        <span class="read">产品系统接口报告地址:</span>
        <a href={{ product_report_url }}>点击查看 </a>
    <br /><br />
    {% elif urlname == "pms" %}
        <span class="read">采购系统接口报告地址:</span>
        <a href={{ pms_report_url }}>点击查看 </a>
    <br /><br />
    {% elif urlname == "tms" %}
        <span class="read">物流系统接口报告地址:</span>
        <a href={{ tms_report_url }}>点击查看 </a>
    <br /><br />
    {% elif urlname == "wms" %}
        <span class="read">仓库系统接口报告地址:</span>
        <a href={{ wms_report_url }}>点击查看 </a>
    <br /><br />
    {% elif urlname == "usermgt" %}
        <span class="read">新用户系统接口报告地址:</span>
        <a href={{ usermgt_report_url }}>点击查看 </a>
    {% endif %}
</body>
</html>

<script>
    let urlname = window.location.href.split("/")[4]
    console.log(urlname)

</script>